.main__logo {
    /* text-align: center; */
    text-transform: capitalize;
}

.main__title {
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 50px;
    padding: 30px;
}